name: Python package 
on: [push] 
jobs: 
    build: 
      runs-on: ubuntu-latest 
      steps:
        - uses: actions/checkout@v3 
          with: 
            fetch-depth: 0
        - name: Setup Python 
          uses: actions/setup-python@v4 
          with: 
            python-version: "3.9" 
        - name: Install packages 
          run: pip install -r requirements.txt
        - name: Run git bisect script
          env:
            BAD_COMMIT: ${{ github.sha }}
            GOOD_COMMIT: ${{ secrets.GOOD_COMMIT }}
          run: python myscript.py